.timer:hover {
    cursor: pointer;
}

.time-button {
    height: 5vmin;
    background-color: #1a202c;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 15px;
    font-weight: bold;
    color: white;
    border: 1px solid #343434;
    margin: 5px;
    border-radius: 20px;
}

.time-button:hover {
    background-color: #101d36;
}

label {
    display: flex;
    flex-direction: column;
    align-items: center;
}
input {
    /* display: inline-block; */
    width: 30vw;
    margin: 2px;
    background-color: #c7ccd6;
    border: 0px;
    padding: 10px;
    border-radius: 17px;
    text-align: center;
    color: white;
}

input:active {
    outline: none;
    background-color: #a0a4ad;
}

input:focus {
    outline: none;
    background-color: #a0a4ad;
}
